# Trabajo Final Sistemas de Bases de Datos Masivos
## Integrantes
### - Edwin Fernando Villarraga Ossa
### - Jorge Eliecer Montoya Gallo
### - Juan David Arango Buitrago

#### Ejercicio 1: 
*Haga una limpieza de los datos identificando los campos comunes entre los
conjuntos de datos. (Adjuntar Rutina SQL o Python)*

#### Respuesta a Ejercicio 1:

En primer lugar se cargan las bases de datos públicas, en BigQuery de Google, donde se encuentran los datos de StackOverFlow.
<img src="./img/Datos_Origen.PNG">

Mediante una visualización preliminar se elijen las variables (campos) de las tablas a descargar con los siguientes criterios:
* Que contenga datos de los lenguajes de programación
* Que sea común a todos los años (solo en 2016 falta el dato de salario)
* Que podría servir para responder preguntas.  ejm: cual lenguaje de programación genera más ingresos...
* Que pueda usarse en algún modelo predictivo

Se obtuvo la siguiente selección de variables a descargar:

#### Datos de 2011
<img src="./img/campos_2011.PNG">

#### Datos de 2012
<img src="./img/campos_2012.PNG">

#### Datos de 2013
<img src="./img/campos_2013.PNG">

#### Datos de 2014
<img src="./img/campos_2014.PNG">

#### Datos de 2015
<img src="./img/campos_2015.PNG">

#### Datos de 2016
<img src="./img/campos_2016.PNG">

#### Datos de 2017
<img src="./img/campos_2017.PNG">

Para descargar las bases de datos para cada año y seleccionanando los campos ilustrados anteriormente se utiliza el siguiente código por año

##### Año 2011

```Sql
SELECT string_field_0, string_field_3, string_field_6, string_field_30, string_field_31, 
string_field_32, string_field_33, string_field_34, string_field_35, string_field_36, 
string_field_37, string_field_38, string_field_39, string_field_40, string_field_41, string_field_42, string_field_45 
FROM `fh-bigquery.stackoverflow.survey_results_2011`
```

##### Año 2012

```Sql
SELECT string_field_0, string_field_3, string_field_4, string_field_6, string_field_22, 
string_field_23, string_field_24, string_field_25, string_field_26, string_field_27, 
string_field_28, string_field_29, string_field_30, string_field_31, string_field_32, 
string_field_33, string_field_34, string_field_35, string_field_36  FROM `fh-bigquery.stackoverflow.survey_results_2012`
```

##### Año 2013

SELECT string_field_0, string_field_4, string_field_6, string_field_55, string_field_56, string_field_57, string_field_58,
string_field_59, string_field_60, string_field_61, string_field_62, string_field_63, string_field_64, string_field_65, 
string_field_66, string_field_67, string_field_68, string_field_69, string_field_100  FROM `fh-bigquery.stackoverflow.survey_results_2013`

##### Año 2014

SELECT string_field_0, string_field_5, string_field_6, string_field_7, string_field_42, string_field_43, string_field_44, 
string_field_45, string_field_46, string_field_47, string_field_48, string_field_49, string_field_50, string_field_51, 
string_field_52, string_field_53  FROM `fh-bigquery.stackoverflow.survey_results_2014`

##### Año 2015

Bigquery tiene una restricción para descargar 16000 filas en csv, por lo que se divide la consulta en 2 partes:  la primera con 15000 registros y la segunda con  el resto.  Para los primeros 15 datos:

SELECT string_field_0, string_field_4, string_field_5, string_field_11, string_field_12, string_field_13, string_field_14, string_field_15, string_field_16, string_field_17, string_field_18, string_field_19, string_field_20, string_field_21, string_field_22, string_field_23, string_field_24, string_field_25, string_field_26, string_field_27, string_field_28, string_field_29, string_field_30, string_field_31, string_field_32, string_field_33, string_field_34, string_field_35, string_field_36, string_field_37, string_field_38, string_field_39, string_field_40, string_field_41, string_field_42, string_field_43, string_field_44, string_field_45, string_field_46, string_field_47, string_field_48, string_field_49, string_field_50 FROM `fh-bigquery.stackoverflow.survey_results_2015`  LIMIT 15000


Para los demás 11088 datos se usó:

SELECT string_field_0, string_field_4, string_field_5, string_field_11, string_field_12, string_field_13, string_field_14, string_field_15, string_field_16, string_field_17, string_field_18, string_field_19, string_field_20, string_field_21, string_field_22, string_field_23, string_field_24, string_field_25, string_field_26, string_field_27, string_field_28, string_field_29, string_field_30, string_field_31, string_field_32, string_field_33, string_field_34, string_field_35, string_field_36, string_field_37, string_field_38, string_field_39, string_field_40, string_field_41, string_field_42, string_field_43, string_field_44, string_field_45, string_field_46, string_field_47, string_field_48, string_field_49, string_field_50 FROM `fh-bigquery.stackoverflow.survey_results_2015`  LIMIT 15000 offset 15000

##### Año 2016

SELECT ountry, self_identification, experience_range, salary_range, Stech_do FROM fh-bigquery.stackoverflow.survey_results_2016 LIMIT 16000

SELECT ountry, self_identification, experience_range, salary_range, Stech_do FROM fh-bigquery.stackoverflow.survey_results_2016 LIMIT 16000 offset 16000

SELECT ountry, self_identification, experience_range, salary_range, Stech_do FROM fh-bigquery.stackoverflow.survey_results_2016 LIMIT 16000 offset 32000

SELECT ountry, self_identification, experience_range, salary_range, Stech_do FROM fh-bigquery.stackoverflow.survey_results_2016 LIMIT 16000 offset 48000

##### Año 2017

SELECT Country, YearsProgram, DeveloperType, HaveWorkedLanguage, Salary FROM `fh-bigquery.stackoverflow.survey_results_public_2017` LIMIT 16000

SELECT Country, YearsProgram, DeveloperType, HaveWorkedLanguage, Salary FROM `fh-bigquery.stackoverflow.survey_results_public_2017` LIMIT 16000 offset 16000

SELECT Country, YearsProgram, DeveloperType, HaveWorkedLanguage, Salary FROM `fh-bigquery.stackoverflow.survey_results_public_2017` LIMIT 16000 offset 32000

SELECT Country, YearsProgram, DeveloperType, HaveWorkedLanguage, Salary FROM `fh-bigquery.stackoverflow.survey_results_public_2017` LIMIT 16000 offset 48000

Se descargaron los archivos en formato CVS y se asignaron los siguientes nombres

<img src="./img/archivos_iniciales_csv.PNG">

# Para el año 2017 se realiza se calcula la frecuencia de uso de lenguajes de programación

con el fin de seleccionar los 10 más usados y dar una estructura de datos similar en todos los año

In [1]:
import pandas as pd
import os

In [9]:
archivos = os.listdir(r'.\data')
archivos

['data_2011.csv',
 'data_2012.csv',
 'data_2013.csv',
 'data_2014.csv',
 'data_2015 0 a 15000.csv',
 'data_2015 15001 a 26088 .csv',
 'data_2016 0 a 16000.csv',
 'data_2016 16001 a 32000.csv',
 'data_2016 32001 a 48000.csv',
 'data_2016 48001 a 56030.csv',
 'data_2017 0 a 16000.csv',
 'data_2017 16001 a 32000.csv',
 'data_2017 32001 a 48000.csv',
 'data_2017 48001 a 51392.csv']

In [14]:
archivos_2017 = [os.path.join('.\\data\\',file) for file in archivos if '2017' in file]
archivos_2017

['.\\data\\data_2017 0 a 16000.csv',
 '.\\data\\data_2017 16001 a 32000.csv',
 '.\\data\\data_2017 32001 a 48000.csv',
 '.\\data\\data_2017 48001 a 51392.csv']

In [27]:
df_from_each_file = (pd.read_csv(f) for f in archivos_2017)
all_2017   = pd.concat(df_from_each_file, ignore_index=True)

In [30]:
all_2017.shape

(51392, 5)

In [32]:
all_2017.tail()

,Country,YearsProgram,DeveloperType,HaveWorkedLanguage,Salary
51387,United States,20 or more years,Web developer; DevOps specialist,JavaScript; PHP,135000.0
51388,Algeria,14 to 15 years,Web developer; Mobile developer; Desktop appli...,C; C++; Erlang; JavaScript; SQL,NaN
51389,Zimbabwe,20 or more years,Other,NaN,NaN
51390,India,Less than a year,Web developer,PHP,NaN
51391,Ukraine,4 to 5 years,Mobile developer,C++; C#; Dart; Groovy; VB.NET,100000.0

In [49]:
all_2017 = all_2017[all_2017['HaveWorkedLanguage'].notnull()]

In [50]:
my_list = all_2017["HaveWorkedLanguage"].tolist()

In [57]:
my_list[0]

'C; C++; C#; CoffeeScript; Clojure; Objective-C; Visual Basic 6'

In [64]:
my_list1 = [item.split(';') for item in my_list]

In [165]:
#my_list1[0:2]

In [107]:
flat_list = [item for sublist in my_list1 for item in sublist]

In [151]:
flat_list[0:5]

['Java', ' Python', ' Rust', ' SQL Server', 'JavaScript']

In [152]:
#flat_list[10].strip()

In [120]:
for i in range(len(flat_list)):
    flat_list[i]=flat_list[i].strip()

In [121]:
unique_lang_2017 = set(flat_list)

In [164]:
#unique_lang_2017

In [133]:
count = 0
Freq_2017 = dict()
for item in flat_list:
    if item not in Freq_2017:
        Freq_2017[item] = 1
    else:
        Freq_2017[item] += 1

In [163]:
#Freq_2017

### A continuación se puede ver la frecuencia de uso de cada lenguaje de programación par el año 2017

In [137]:
Order_Freq_2017 = sorted(Freq_2017.items(), key=lambda x: x[1])
Order_Freq_2017

[('Hack', 112),
 ('Julia', 146),
 ('Dart', 156),
 ('Common Lisp', 289),
 ('Smalltalk', 307),
 ('Erlang', 313),
 ('Clojure', 403),
 ('Elixir', 405),
 ('Rust', 452),
 ('F#', 455),
 ('Haskell', 724),
 ('Lua', 1125),
 ('Visual Basic 6', 1182),
 ('Groovy', 1210),
 ('CoffeeScript', 1296),
 ('Scala', 1368),
 ('Perl', 1571),
 ('Go', 1633),
 ('VBA', 1743),
 ('Matlab', 1840),
 ('R', 1873),
 ('Assembly', 2068),
 ('Objective-C', 2479),
 ('VB.NET', 2533),
 ('Swift', 2672),
 ('TypeScript', 3719),
 ('Ruby', 3746),
 ('C', 7880),
 ('C++', 9099),
 ('PHP', 11574),
 ('Python', 13239),
 ('C#', 13575),
 ('Java', 16550),
 ('SQL', 20633),
 ('JavaScript', 25429)]

# Para el año 2016 se realiza se calcula la frecuencia de uso de lenguajes de programación

In [138]:
archivos_2016 = [os.path.join('.\\data\\',file) for file in archivos if '2016' in file]

In [162]:
df_from_each_file = (pd.read_csv(f) for f in archivos_2016)
all_2016   = pd.concat(df_from_each_file, ignore_index=True)
#all_2016.head()

In [146]:
all_2016 = all_2016[all_2016['tech_do'].notnull()]

In [147]:
my_list = all_2016['tech_do'].tolist()

In [148]:
my_list[0]

'Java; Python; Rust; SQL Server'

In [149]:
my_list1 = [item.split(';') for item in my_list]

In [150]:
flat_list = [item for sublist in my_list1 for item in sublist]

In [153]:
for i in range(len(flat_list)):
    flat_list[i]=flat_list[i].strip()

In [154]:
unique_lang_2016 = set(flat_list)

In [161]:
#unique_lang_2016

In [156]:
count = 0
Freq_2016 = dict()
for item in flat_list:
    if item not in Freq_2016:
        Freq_2016[item] = 1
    else:
        Freq_2016[item] += 1

In [160]:
#Freq_2016

In [159]:
Order_Freq_2016 = sorted(Freq_2016.items(), key=lambda x: x[1])
Order_Freq_2016

[('Dart', 214),
 ('Rust', 421),
 ('F#', 495),
 ('Clojure', 541),
 ('Salesforce', 707),
 ('Cassandra', 711),
 ('Haskell', 720),
 ('Spark', 753),
 ('SharePoint', 866),
 ('Hadoop', 1048),
 ('Windows Phone', 1115),
 ('Matlab', 1457),
 ('Go', 1546),
 ('R', 1593),
 ('Scala', 1633),
 ('CoffeeScript', 1643),
 ('Cordova', 1669),
 ('Perl', 1725),
 ('ReactJS', 2546),
 ('Swift', 2649),
 ('Redis', 2958),
 ('Objective-C', 3192),
 ('Visual Basic', 3286),
 ('Arduino / Raspberry Pi', 3555),
 ('WordPress', 4277),
 ('Ruby', 4345),
 ('iOS', 4429),
 ('LAMP', 4755),
 ('Cloud (AWS, GAE, Azure, etc.)', 4771),
 ('MongoDB', 4773),
 ('C', 7247),
 ('Android', 8250),
 ('Node.js', 8413),
 ('AngularJS', 8975),
 ('C++', 9166),
 ('SQL Server', 9674),
 ('Python', 11908),
 ('PHP', 12417),
 ('C#', 15628),
 ('Java', 17648),
 ('SQL', 22212),
 ('JavaScript', 27508)]

# TRANSFORMACION DE LOS DATOS EN BIGQUERY

La carpeta Query_Encuesta tiene las consultas hechas con SQL para la transformación inicial de datos en BIGQUERY


<img src="./img/consultas_bigquery_iniciales.PNG">

los primeros 7 archivos corresponden a cada consulta por año para dejar los siguientes campos:

* Year
* Id_Country
* Id_Experience
* Id_Ocupation
* Id_Salary
* Id_Age
* Id_Gender



 y las columnas con los lenguajes de programación más usados por año

El archivo Encuestas.sql tiene el script de sql usado para unir las tablas en Bigquery. Después de la depuración de datos hecha en el disco local

In [ ]:
""" SQL

CREATE TABLE `basededatosmasivos.Base_de_Datos.Encuestas`
as
select *
from `basededatosmasivos.Base_de_Datos.Encuesta_2011`
union all
select *
from `basededatosmasivos.Base_de_Datos.Encuesta_2012`
union all
select *
from `basededatosmasivos.Base_de_Datos.Encuesta_2013`
union all
select *
from `basededatosmasivos.Base_de_Datos.Encuesta_2014`
union all
select *
from `basededatosmasivos.Base_de_Datos.Encuesta_2015`
union all
select *
from `basededatosmasivos.Base_de_Datos.Encuesta_2016`
union all
select *
from `basededatosmasivos.Base_de_Datos.Encuesta_2017`

"""

# DEPURACIÓN DE LOS DATOS

Para depurar las tablas y los datos, se utilizó el Excel y se crearon tablas auxiliares de tal manera que se conservaron los datos originales y se usaron claves para asociar las tablas con las columnas depuradas.

A continuación el código de Python usado para hacer la unión de los datos en el disco local

In [8]:
archivos = os.listdir(r'.\data_depurada')

In [9]:
archivos

['data_2011.csv',
 'data_2012.csv',
 'data_2013.csv',
 'data_2014.csv',
 'data_2015 0 a 15000.csv',
 'data_2015 15001 a 26088.csv',
 'data_2016 0 a 16000.csv',
 'data_2016 16001 a 32000.csv',
 'data_2016 32001 a 48000.csv',
 'data_2016 48001 a 56030.csv',
 'data_2017 0 a 16000.csv',
 'data_2017 16001 a 32000.csv',
 'data_2017 32001 a 48000.csv',
 'data_2017 48001 a 51392.csv']

In [10]:
archivosAll = [os.path.join('.\\data_depurada\\',file) for file in archivos if 'csv' in file]
archivosAll

['.\\data_depurada\\data_2011.csv',
 '.\\data_depurada\\data_2012.csv',
 '.\\data_depurada\\data_2013.csv',
 '.\\data_depurada\\data_2014.csv',
 '.\\data_depurada\\data_2015 0 a 15000.csv',
 '.\\data_depurada\\data_2015 15001 a 26088.csv',
 '.\\data_depurada\\data_2016 0 a 16000.csv',
 '.\\data_depurada\\data_2016 16001 a 32000.csv',
 '.\\data_depurada\\data_2016 32001 a 48000.csv',
 '.\\data_depurada\\data_2016 48001 a 56030.csv',
 '.\\data_depurada\\data_2017 0 a 16000.csv',
 '.\\data_depurada\\data_2017 16001 a 32000.csv',
 '.\\data_depurada\\data_2017 32001 a 48000.csv',
 '.\\data_depurada\\data_2017 48001 a 51392.csv']

In [13]:
df_total = (pd.read_csv(f) for f in archivosAll)
all   = pd.concat(df_total, ignore_index=True, sort=False)

In [14]:
all.head()

,Year,Id_Country,Id_Experience,Id_Ocupation,Id_Salary,Id_Age,Id_Gender,AngularJS,C,Cplusplus,...,Nodejs,ObjectiveC,Perl,PHP,Python,Ruby,SQL,SQL_Server,TypeScript,CPlusPlus
0,2011,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,United States of America,11,NaN,NaN,25-29,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,Other Europe,41310,NaN,NaN,20-24,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,Australia,<2,NaN,NaN,25-29,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,United Kingdom,41310,NaN,NaN,20-24,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
all.shape

(159951, 26)

In [17]:
all.to_csv(r'.\data_depurada\Encuestas.csv')




Se crearon las siguientes tablas y se subieron a Bigquery: