# Trabajo Final Sistemas de Bases de Datos Masivos
## Integrantes
### - Edwin Fernando Villarraga Ossa
### - Jorge Eliecer Montoya Gallo
### - Juan David Arango Buitrago

# Proyecto Bigquery

## Ruta 

https://console.cloud.google.com/bigquery?project=basededatosmasivos&folder=&organizationId=875911614705&pli=1&angularJsUrl=%2Fbigquery%3Fproject%3Dbasededatosmasivos%26folder%26organizationId%3D875911614705%26pli%3D1%26p%3Dbasededatosmasivos%26page%3Dproject&authuser=1&p=basededatosmasivos&d=Base_de_Datos&page=dataset

## Se asigna permiso de lector a la cuenta seagomezar@unal.edu.co

#### Ejercicio 1: 
*Haga una limpieza de los datos identificando los campos comunes entre los
conjuntos de datos. (Adjuntar Rutina SQL o Python)*

#### Respuesta a Ejercicio 1:

En primer lugar se cargan las bases de datos públicas, en BigQuery de Google, donde se encuentran los datos de StackOverFlow.
<img src="./img/Datos_Origen.PNG">

Mediante una visualización preliminar se elijen las variables (campos) de las tablas a descargar con los siguientes criterios:
* Que contenga datos de los lenguajes de programación
* Que sea común a todos los años (solo en 2016 falta el dato de salario)
* Que podría servir para responder preguntas.  ejm: cual lenguaje de programación genera más ingresos...
* Que pueda usarse en algún modelo predictivo

Se obtuvo la siguiente selección de variables a descargar:

#### Datos de 2011
<img src="./img/campos_2011.PNG">

#### Datos de 2012
<img src="./img/campos_2012.PNG">

#### Datos de 2013
<img src="./img/campos_2013.PNG">

#### Datos de 2014
<img src="./img/campos_2014.PNG">

#### Datos de 2015
<img src="./img/campos_2015.PNG">

#### Datos de 2016
<img src="./img/campos_2016.PNG">

#### Datos de 2017
<img src="./img/campos_2017.PNG">

Para descargar las bases de datos para cada año y seleccionanando los campos ilustrados anteriormente se utiliza el siguiente código por año

##### Año 2011

```Sql
SELECT 

string_field_0, string_field_3, string_field_6, string_field_30, string_field_31,
string_field_32, string_field_33, string_field_34, string_field_35, string_field_36,
tring_field_37, string_field_38, string_field_39, string_field_40, string_field_41,
string_field_42, string_field_45 

FROM `fh-bigquery.stackoverflow.survey_results_2011`
```

##### Año 2012

```Sql
SELECT 

string_field_0, string_field_3, string_field_4, string_field_6, string_field_22,
string_field_23, string_field_24, string_field_25, string_field_26, string_field_27,
string_field_28, string_field_29, string_field_30, string_field_31, string_field_32,
string_field_33, string_field_34, string_field_35, string_field_36  

FROM `fh-bigquery.stackoverflow.survey_results_2012`
```

##### Año 2013

```Sql
SELECT

string_field_0, string_field_4, string_field_6, string_field_55, string_field_56,
string_field_57, string_field_58, string_field_59, string_field_60, string_field_61,
string_field_62, string_field_63, string_field_64, string_field_65, string_field_66,
string_field_67, string_field_68, string_field_69, string_field_100  

FROM `fh-bigquery.stackoverflow.survey_results_2013`
```

##### Año 2014

```Sql
SELECT 

string_field_0, string_field_5, string_field_6, string_field_7, string_field_42,
string_field_43, string_field_44, string_field_45, string_field_46, string_field_47,
string_field_48, string_field_49, string_field_50, string_field_51, string_field_52,
string_field_53

FROM `fh-bigquery.stackoverflow.survey_results_2014`

```

##### Año 2015

Bigquery tiene una restricción para descargar 16000 filas en csv, por lo que se divide la consulta en 2 partes:  la primera con 15000 registros y la segunda con  el resto.  Para los primeros 15 datos:

```Sql

SELECT 

string_field_0, string_field_4, string_field_5, string_field_11, string_field_12,
string_field_13, string_field_14, string_field_15, string_field_16, string_field_17,
string_field_18, string_field_19, string_field_20, string_field_21, string_field_22,
string_field_23, string_field_24, string_field_25, string_field_26, string_field_27,
string_field_28, string_field_29, string_field_30, string_field_31, string_field_32,
string_field_33, string_field_34, string_field_35, string_field_36, string_field_37, 
string_field_38, string_field_39, string_field_40, string_field_41, string_field_42,
string_field_43, string_field_44, string_field_45, string_field_46, string_field_47,
string_field_48, string_field_49, string_field_50 

FROM `fh-bigquery.stackoverflow.survey_results_2015`  LIMIT 15000

```

Para los demás 11088 datos se usó:

```Sql

SELECT

string_field_0, string_field_4, string_field_5, string_field_11, string_field_12,
string_field_13, string_field_14, string_field_15, string_field_16, string_field_17,
string_field_18, string_field_19, string_field_20, string_field_21, string_field_22,
string_field_23, string_field_24, string_field_25, string_field_26, string_field_27,
string_field_28, string_field_29, string_field_30, string_field_31, string_field_32,
string_field_33, string_field_34, string_field_35, string_field_36, string_field_37,
string_field_38, string_field_39, string_field_40, string_field_41, string_field_42,
string_field_43, string_field_44, string_field_45, string_field_46, string_field_47,
string_field_48, string_field_49, string_field_50

FROM `fh-bigquery.stackoverflow.survey_results_2015`  LIMIT 15000 offset 15000

```

##### Año 2016

```Sql

SELECT 

country, 
self_identification, 
experience_range, 
salary_range, 
Stech_do 

FROM fh-bigquery.stackoverflow.survey_results_2016 LIMIT 16000


SELECT 

country, 
self_identification, 
experience_range, 
salary_range, 
Stech_do 

FROM fh-bigquery.stackoverflow.survey_results_2016 LIMIT 16000 offset 16000


SELECT 

country, 
self_identification,
experience_range,
salary_range,
Stech_do 

FROM fh-bigquery.stackoverflow.survey_results_2016 LIMIT 16000 offset 32000


SELECT 

country,
self_identification,
experience_range,
salary_range,
Stech_do 

FROM fh-bigquery.stackoverflow.survey_results_2016 LIMIT 16000 offset 48000
```

##### Año 2017

```Sql

SELECT 

Country, YearsProgram, DeveloperType, HaveWorkedLanguage, Salary 

FROM `fh-bigquery.stackoverflow.survey_results_public_2017` LIMIT 16000


SELECT

Country,
YearsProgram,
DeveloperType,
HaveWorkedLanguage,
Salary 

FROM `fh-bigquery.stackoverflow.survey_results_public_2017` LIMIT 16000 offset 16000


SELECT 

Country,
YearsProgram,
DeveloperType,
HaveWorkedLanguage,
Salary 

FROM `fh-bigquery.stackoverflow.survey_results_public_2017` LIMIT 16000 offset 32000


SELECT 

Country,
YearsProgram,
DeveloperType,
HaveWorkedLanguage,
Salary 

FROM `fh-bigquery.stackoverflow.survey_results_public_2017` LIMIT 16000 offset 48000
```

Se descargaron los archivos en formato CVS y se asignaron los siguientes nombres

<img src="./img/archivos_iniciales_csv.PNG">

# Para el año 2017 se calcula la frecuencia de uso de lenguajes de programación

con el fin de seleccionar los 10 más usados y dar una estructura de datos similar en todos los año

In [1]:
import pandas as pd
import os

In [2]:
archivos = os.listdir(r'.\data')
archivos

['data_2011.csv',
 'data_2012.csv',
 'data_2013.csv',
 'data_2014.csv',
 'data_2015 0 a 15000.csv',
 'data_2015 15001 a 26088 .csv',
 'data_2016 0 a 16000.csv',
 'data_2016 16001 a 32000.csv',
 'data_2016 32001 a 48000.csv',
 'data_2016 48001 a 56030.csv',
 'data_2017 0 a 16000.csv',
 'data_2017 16001 a 32000.csv',
 'data_2017 32001 a 48000.csv',
 'data_2017 48001 a 51392.csv']

In [3]:
archivos_2017 = [os.path.join('.\\data\\',file) for file in archivos if '2017' in file]
archivos_2017

['.\\data\\data_2017 0 a 16000.csv',
 '.\\data\\data_2017 16001 a 32000.csv',
 '.\\data\\data_2017 32001 a 48000.csv',
 '.\\data\\data_2017 48001 a 51392.csv']

In [4]:
df_from_each_file = (pd.read_csv(f) for f in archivos_2017)
all_2017   = pd.concat(df_from_each_file, ignore_index=True)

In [5]:
all_2017.shape

(51392, 5)

In [6]:
all_2017.tail()

,Country,YearsProgram,DeveloperType,HaveWorkedLanguage,Salary
51387,United States,20 or more years,Web developer; DevOps specialist,JavaScript; PHP,135000.0
51388,Algeria,14 to 15 years,Web developer; Mobile developer; Desktop appli...,C; C++; Erlang; JavaScript; SQL,NaN
51389,Zimbabwe,20 or more years,Other,NaN,NaN
51390,India,Less than a year,Web developer,PHP,NaN
51391,Ukraine,4 to 5 years,Mobile developer,C++; C#; Dart; Groovy; VB.NET,100000.0

In [7]:
all_2017 = all_2017[all_2017['HaveWorkedLanguage'].notnull()]

In [8]:
my_list = all_2017["HaveWorkedLanguage"].tolist()

In [9]:
my_list[0]

'C; C++; C#; CoffeeScript; Clojure; Objective-C; Visual Basic 6'

In [10]:
my_list1 = [item.split(';') for item in my_list]

In [15]:
#my_list1[0:2]

In [16]:
flat_list = [item for sublist in my_list1 for item in sublist]

In [17]:
flat_list[0:5]

['C', ' C++', ' C#', ' CoffeeScript', ' Clojure']

In [152]:
#flat_list[10].strip()

In [18]:
for i in range(len(flat_list)):
    flat_list[i]=flat_list[i].strip()

In [19]:
unique_lang_2017 = set(flat_list)

In [164]:
#unique_lang_2017

In [20]:
count = 0
Freq_2017 = dict()
for item in flat_list:
    if item not in Freq_2017:
        Freq_2017[item] = 1
    else:
        Freq_2017[item] += 1

In [163]:
#Freq_2017

### A continuación se puede ver la frecuencia de uso de cada lenguaje de programación para el año 2017

In [21]:
Order_Freq_2017 = sorted(Freq_2017.items(), key=lambda x: x[1])
Order_Freq_2017

[('Hack', 112),
 ('Julia', 146),
 ('Dart', 156),
 ('Common Lisp', 289),
 ('Smalltalk', 307),
 ('Erlang', 313),
 ('Clojure', 403),
 ('Elixir', 405),
 ('Rust', 452),
 ('F#', 455),
 ('Haskell', 724),
 ('Lua', 1125),
 ('Visual Basic 6', 1182),
 ('Groovy', 1210),
 ('CoffeeScript', 1296),
 ('Scala', 1368),
 ('Perl', 1571),
 ('Go', 1633),
 ('VBA', 1743),
 ('Matlab', 1840),
 ('R', 1873),
 ('Assembly', 2068),
 ('Objective-C', 2479),
 ('VB.NET', 2533),
 ('Swift', 2672),
 ('TypeScript', 3719),
 ('Ruby', 3746),
 ('C', 7880),
 ('C++', 9099),
 ('PHP', 11574),
 ('Python', 13239),
 ('C#', 13575),
 ('Java', 16550),
 ('SQL', 20633),
 ('JavaScript', 25429)]

# Para el año 2016 se calcula la frecuencia de uso de lenguajes de programación

In [22]:
archivos_2016 = [os.path.join('.\\data\\',file) for file in archivos if '2016' in file]

In [23]:
df_from_each_file = (pd.read_csv(f) for f in archivos_2016)
all_2016   = pd.concat(df_from_each_file, ignore_index=True)
#all_2016.head()

In [24]:
all_2016 = all_2016[all_2016['tech_do'].notnull()]

In [25]:
my_list = all_2016['tech_do'].tolist()

In [26]:
my_list[0]

'Java; Python; Rust; SQL Server'

In [27]:
my_list1 = [item.split(';') for item in my_list]

In [28]:
flat_list = [item for sublist in my_list1 for item in sublist]

In [29]:
for i in range(len(flat_list)):
    flat_list[i]=flat_list[i].strip()

In [30]:
unique_lang_2016 = set(flat_list)

In [161]:
#unique_lang_2016

In [31]:
count = 0
Freq_2016 = dict()
for item in flat_list:
    if item not in Freq_2016:
        Freq_2016[item] = 1
    else:
        Freq_2016[item] += 1

In [160]:
#Freq_2016

In [32]:
Order_Freq_2016 = sorted(Freq_2016.items(), key=lambda x: x[1])
Order_Freq_2016

[('Dart', 214),
 ('Rust', 421),
 ('F#', 495),
 ('Clojure', 541),
 ('Salesforce', 707),
 ('Cassandra', 711),
 ('Haskell', 720),
 ('Spark', 753),
 ('SharePoint', 866),
 ('Hadoop', 1048),
 ('Windows Phone', 1115),
 ('Matlab', 1457),
 ('Go', 1546),
 ('R', 1593),
 ('Scala', 1633),
 ('CoffeeScript', 1643),
 ('Cordova', 1669),
 ('Perl', 1725),
 ('ReactJS', 2546),
 ('Swift', 2649),
 ('Redis', 2958),
 ('Objective-C', 3192),
 ('Visual Basic', 3286),
 ('Arduino / Raspberry Pi', 3555),
 ('WordPress', 4277),
 ('Ruby', 4345),
 ('iOS', 4429),
 ('LAMP', 4755),
 ('Cloud (AWS, GAE, Azure, etc.)', 4771),
 ('MongoDB', 4773),
 ('C', 7247),
 ('Android', 8250),
 ('Node.js', 8413),
 ('AngularJS', 8975),
 ('C++', 9166),
 ('SQL Server', 9674),
 ('Python', 11908),
 ('PHP', 12417),
 ('C#', 15628),
 ('Java', 17648),
 ('SQL', 22212),
 ('JavaScript', 27508)]

# TRANSFORMACION DE LOS DATOS EN BIGQUERY

La carpeta Query_Encuesta tiene las consultas hechas con SQL para la transformación inicial de datos en BIGQUERY


<img src="./img/consultas_bigquery_iniciales.PNG">

los primeros 7 archivos corresponden a cada consulta por año para dejar los siguientes campos:

* Year
* Id_Country
* Id_Experience
* Id_Ocupation
* Id_Salary
* Id_Age
* Id_Gender



 y las columnas con los lenguajes de programación más usados por año

# DEPURACIÓN DE ENCUESTAS

## Se crea una tabla por encuesta, donde se seleccionan las variables en común antes mencionadas y se incluyen 18 tipos de lenguaje de propramación. Los lenguajes que se incluyen son la combinación de los 10 lenguajes más usados por año. Por lo cual, en la consulta garantizamos el seguimiento de los lenguajes durante el periodo de análisis 2011-2017.


# ENCUESTA_2011

```SQL

CREATE TABLE `basededatosmasivos.Base_de_Datos.Encuesta_2011` 
AS

SELECT 
2011 as Year,
string_field_0 as Id_Country,
string_field_3 as Id_Experience,
string_field_45 as Id_Salary,
string_field_2 as Id_Age,
CAST(null AS STRING) as Id_Gender,
(case when string_field_42 like '%AngularJS%' then 'AngularJS'
else null
end) as AngularJS,
string_field_39 as C,
string_field_38 as Cplusplus,
string_field_37 as CSharp,
string_field_32 as CSS,
(case when string_field_42 like '%HTML5%' then 'HTML5'
else null
end) as HTML5,
string_field_30 as Java,
string_field_31 as JavaScript,
(case when string_field_42 like '%jQuery%' then 'jQuery'
else null
end) as jQuery,
(case when string_field_42 like '%Node.js%' then 'Node.js'
else null
end) as Nodejs,
(case when string_field_42 like '%Objective-C%' then 'Objective-C'
else null
end) as ObjectiveC,
string_field_40 as Perl,
string_field_33 as PHP,
string_field_34 as Python,
string_field_35 as Ruby,
string_field_36 as SQL,
(case when string_field_42 like '%SQL_Server%' then 'SQL_Server'
else null
end) as SQL_Server,
(case when string_field_42 like '%TypeScript%' then 'TypeScript'
else null
end) as TypeScript

FROM `fh-bigquery.stackoverflow.survey_results_2011`

```


# ENCUESTA_2012
```SQL

CREATE TABLE `basededatosmasivos.Base_de_Datos.Encuesta_2012`
AS

SELECT 
2012 as Year,
string_field_0 as Id_Country,
string_field_3 as Id_Experience,
string_field_39 as Id_Salary,
string_field_2 as Id_Age,
CAST(null AS STRING) as Id_Gender,
(case when string_field_36 like '%AngularJS%' then 'AngularJS'
else null
end) as AngularJS,
string_field_32 as C,
string_field_31 as CPlusPlus,
string_field_30 as CSharp,
string_field_24 as CSS,
string_field_34 as HTML5,
string_field_22 as Java,
string_field_23 as JavaScript,
(case when string_field_36 like '%jQuery%' then 'jQuery'
else null
end) as jQuery,
(case when string_field_36 like '%Node%' then 'Node'
else null
end) as Nodejs,
string_field_27 as ObjectiveC,
string_field_33 as Perl,
string_field_25 as PHP,
string_field_26 as Python,
string_field_28 as Ruby,
string_field_29 as SQL,
(case when string_field_36 like '%SQL_Server%' then 'SQL_Server'
else null
end) as SQL_Server,
(case when string_field_36 like '%TypeScript%' then 'TypeScript'
else null
end) as TypeScript

FROM `fh-bigquery.stackoverflow.survey_results_2012`

```

# ENCUESTA_2013
```SQL
CREATE TABLE `basededatosmasivos.Base_de_Datos.Encuesta_2013` 
AS

SELECT 
2013 as Year,
string_field_0 as Id_Country,
string_field_3 as Id_Experience,
string_field_100 as Id_Salary,
string_field_2 as Id_Age,
CAST(null AS STRING) as Id_Gender,
(case when string_field_69 like '%AngularJS%' then 'AngularJS'
else null
end) as AngularJS,
string_field_56 as C,
string_field_57 as Cplusplus,
string_field_58 as CSharp,
(case when string_field_69 like '%CSS%' then 'CSS'
else null
end) as CSS,
(case when string_field_69 like '%HTML5%' then 'HTML5'
else null
end) as HTML5,
string_field_59 as Java,
string_field_60 as JavaScript,
(Case when string_field_61 is not null or string_field_62 is not null then 'jQuery'
else null
end) as jQuery,
string_field_63 as Nodejs,
string_field_64 as ObjectiveC,
(case when string_field_69 like '%Perl%' then 'Perl'
else null
end) as Perl,
string_field_65 as PHP,
string_field_66 as Python,
string_field_67 as Ruby,
string_field_68 as SQL,
(case when string_field_69 like '%SQL_Server%' then 'SQL_Server'
else null
end) as SQL_Server,
(case when string_field_69 like '%TypeScript%' then 'TypeScript'
else null
end) as TypeScript

FROM `fh-bigquery.stackoverflow.survey_results_2013` 

```

# ENCUESTA_2014
```SQL
CREATE TABLE `basededatosmasivos.Base_de_Datos.Encuesta_2014` 
AS
    
SELECT 
2014 as Year,
string_field_0 as Id_Country,
string_field_5 as Id_Experience,
string_field_7 as Id_Salary,
string_field_3 as Id_Age,
string_field_4 as Id_Gender,
(case when string_field_53 like '%AngularJS%' then 'AngularJS'
else null
end) as AngularJS,
string_field_42 as C,
string_field_43 as CPlusPlus,
string_field_44 as CSharp,
(case when string_field_53 like '%CSS%' then 'CSS'
else null
end) as CSS,
(case when string_field_53 like '%HTML5%' then 'HTML5'
else null
end) as HTML5,
string_field_45 as Java,
string_field_46 as JavaScript,
(case when string_field_53 like '%jQuery%' then 'jQuery'
else null
end) as jQuery,
string_field_47 as Nodejs,
string_field_48 as ObjectiveC,
(case when string_field_53 like '%Perl%' then 'Perl'
else null
end) as Perl,
string_field_49 as PHP,
string_field_50 as Python,
string_field_51 as Ruby,
string_field_52 as SQL,
(case when string_field_53 like '%SQL_Server%' then 'SQL_Server'
else null
end) as SQL_Server,
(case when string_field_53 like '%TypeScript%' then 'TypeScript'
else null
end) as TypeScript


FROM `fh-bigquery.stackoverflow.survey_results_2014` 

```


# ENCUESTA_2015
```SQL
CREATE TABLE `basededatosmasivos.Base_de_Datos.Encuesta_2015` 
AS

SELECT 
2015 as Year,
string_field_0 as Id_Country,
string_field_4 as Id_Experience,
string_field_105 as Id_Salary,
string_field_1 as Id_Age,
string_field_2 as Id_Gender,
(case when string_field_50 like '%AngularJS%' then 'AngularJS'
else null
end) as AngularJS,
string_field_11 as C,
string_field_12 as CPlusPlus,
string_field_14 as CSharp,
(case when string_field_50 like '%CSS%' then 'CSS'
else null
end) as CSS,
(case when string_field_50 like '%HTML5%' then 'HTML5'
else null
end) as HTML5,
string_field_26 as Java,
string_field_27 as JavaScript,
(case when string_field_50 like '%jQuery%' then 'jQuery'
else null
end) as jQuery,
string_field_31 as Nodejs,
string_field_32 as ObjectiveC,
string_field_33 as Perl,
string_field_34 as PHP,
string_field_35 as Python,
string_field_38 as Ruby,
string_field_44 as SQL,
string_field_45 as SQL_Server,
(case when string_field_50 like '%TypeScript%' then 'TypeScript'
else null
end) as TypeScript

FROM `fh-bigquery.stackoverflow.survey_results_2015`

```


# ENCUESTA_2016
```SQL
CREATE TABLE `basededatosmasivos.Base_de_Datos.Encuesta_2016` 
AS

SELECT 
2016 as Year,
country as Id_Country,
experience_range as Id_Experience,
salary_range as Id_Salary,
age_range as Id_Age,
gender as Id_Gender,
(case when tech_do like '%AngularJS%' then 'AngularJS'
else null
end) as AngularJS,
(case when tech_do like '%;C' or tech_do like '%;C;%' or tech_do like 'C;%'  or tech_do like 'C'  then 'C'
else null
end) as C,
(case when tech_do like '%C++%' then 'C++'
else null
end) as CPlusPlus,
(case when tech_do like '%C#%' then 'C#'
else null
end) as CSharp,
(case when tech_do like '%CSS%' then 'CSS'
else null
end) as CSS,
(case when tech_do like '%HTML5%' then 'HTML5'
else null
end) as HTML5,
(case when tech_do like '%Java%' then 'Java'
else null
end) as Java,
(case when tech_do like '%JavaScript%' then 'JavaScript'
else null
end) as JavaScript,
(case when tech_do like '%jQuery%' then 'jQuery'
else null
end) as jQuery,
(case when tech_do like '%Node.js%' then 'Node.js'
else null
end) as Nodejs,
(case when tech_do like '%Objective-C%' then 'Objective-C'
else null
end) as ObjectiveC,
(case when tech_do like '%Perl%' then 'Perl'
else null
end) as Perl,
(case when tech_do like '%PHP%' then 'PHP'
else null
end) as PHP,
(case when tech_do like '%Python%' then 'Python'
else null
end) as Python,
(case when tech_do like '%Ruby%' then 'Ruby'
else null
end) as Ruby,
(case when tech_do like '%SQL%' then 'SQL'
else null
end) as SQL,
(case when tech_do like '%SQL Server%' then 'SQL Server'
else null
end) as SQL_Server,
(case when tech_do like '%TypeScript%' then 'TypeScript'
else null
end) as TypeScript

FROM `fh-bigquery.stackoverflow.survey_results_2016`

```


# ENCUESTA_2017
```SQL
CREATE TABLE `basededatosmasivos.Base_de_Datos.Encuesta_2017` 
AS

SELECT 
2017 as Year,
Country as Id_Country,
YearsProgram as Id_Experience,
Salary as Id_Salary,
CAST(null AS STRING) as Id_Age,
Gender as Id_Gender,
(case when HaveWorkedLanguage like '%AngularJS%' then 'AngularJS'
else null
end) as AngularJS,
(case when HaveWorkedLanguage like '%;C' or HaveWorkedLanguage like '%;C;%' or HaveWorkedLanguage like 'C;%'  or HaveWorkedLanguage like 'C'  then 'C'
else null
end) as C,
(case when HaveWorkedLanguage like '%C++%' then 'C++'
else null
end) as CPlusPlus,
(case when HaveWorkedLanguage like '%C#%' then 'C#'
else null
end) as CSharp,
(case when HaveWorkedLanguage like '%CSS%' then 'CSS'
else null
end) as CSS,
(case when HaveWorkedLanguage like '%HTML5%' then 'HTML5'
else null
end) as HTML5,
(case when HaveWorkedLanguage like '%Javat%' then 'Java'
else null
end) as Java,
(case when HaveWorkedLanguage like '%JavaScript%' then 'JavaScript'
else null
end) as JavaScript,
(case when HaveWorkedLanguage like '%jQuery%' then 'jQuery'
else null
end) as jQuery,
(case when HaveWorkedLanguage like '%Node.js%' then 'Node.js'
else null
end) as Nodejs,
(case when HaveWorkedLanguage like '%Objective-C%' then 'Objective-C'
else null
end) as ObjectiveC,
(case when HaveWorkedLanguage like '%Perl%' then 'Perl'
else null
end) as Perl,
(case when HaveWorkedLanguage like '%PHP%' then 'PHP'
else null
end) as PHP,
(case when HaveWorkedLanguage like '%Python%' then 'Python'
else null
end) as Python,
(case when HaveWorkedLanguage like '%Ruby%' then 'Ruby'
else null
end) as Ruby,
(case when HaveWorkedLanguage like '%SQL%' then 'SQL'
else null
end) as SQL,
(case when HaveWorkedLanguage like '%SQL_Server%' then 'SQL_Server'
else null
end) as SQL_Server,
(case when HaveWorkedLanguage like '%TypeScript%' then 'TypeScript'
else null
end) as TypeScript

FROM `fh-bigquery.stackoverflow.survey_results_public_2017` 

```

## Despues de tener las encuestas estandarizas, se unen para crear una base de datos

``` SQL

CREATE TABLE `basededatosmasivos.Base_de_Datos.Encuestas`
as

select *
from `basededatosmasivos.Base_de_Datos.Encuesta_2011`
union all
select *
from `basededatosmasivos.Base_de_Datos.Encuesta_2012`
union all
select *
from `basededatosmasivos.Base_de_Datos.Encuesta_2013`
union all
select *
from `basededatosmasivos.Base_de_Datos.Encuesta_2014`
union all
select *
from `basededatosmasivos.Base_de_Datos.Encuesta_2015`
union all
select *
from `basededatosmasivos.Base_de_Datos.Encuesta_2016`
union all
select *
from `basededatosmasivos.Base_de_Datos.Encuesta_2017`

```

# ESTANDARIZACIÓN DE LAS VARIABLES LA BASE DE DATOS

Dada las diferencias en las reglas al recolectar la información en las encuestas, se hizo necesario estandarizar cada una de las variables descriptivas utilizando excel. La idea fue, generar nuevas categorias 
a partir de los datos existentes y dejar la base de datos principal relacionada con variables id para Year, Country, 
```sql

Create table `basededatosmasivos.Base_de_Datos.Encuestas_v1`
as
SELECT 
enc.Year,
con.Country,
exp.Experience,
sal.Salary,
age.Age,
gen.Gender,
enc.AngularJS,
enc.C,
enc.CPlusPlus,
enc.CSharp,
enc.CSS,
enc.HTML5,
enc.Java,
enc.JavaScript,
enc.jQuery,
enc.Nodejs,
enc.ObjectiveC,
enc.Perl,
enc.PHP,
enc.Python,
enc.Ruby,
enc.SQL,
enc.SQL_Server,
enc.TypeScript

FROM `basededatosmasivos.Base_de_Datos.Encuestas` enc

LEFT JOIN `basededatosmasivos.Base_de_Datos.Age_v0` age
on (enc.Year=age.Year and enc.Id_Age=age.Id_Age)

LEFT JOIN `basededatosmasivos.Base_de_Datos.Gender_v0` gen
on (enc.Year=gen.Year and enc.Id_Gender=gen.Id_Gender)

LEFT JOIN `basededatosmasivos.Base_de_Datos.Country_v0` con
on (enc.Year=con.Year and enc.Id_Country=con.Id_Country)

LEFT JOIN `basededatosmasivos.Base_de_Datos.Experience_v0` exp
on (enc.Year=exp.Year and enc.Id_Experience=exp.Id_Experience)

LEFT JOIN `basededatosmasivos.Base_de_Datos.Salary_v1` sal
on (enc.Year=sal.Year and enc.Id_Salary=sal.Id_Salary)

```

# Estandarización de las variables descriptivas

## A continuación, se presentan la estandarización de las categorias que permite homologar la información almacenada en la base de datos. Al igual, se crean tablas auxiliares que contienen la descripción sobre las dimensiones. Este ejercicio es fundamental para poder realizar consultar y obtener conocimiento de la información almacenada.

## Estandarización variable Age

In [38]:
Age = pd.read_json(r'.\Base_Datos_Encuestas\Age.json')
Age

  Desc_Age  Id_Age
0     < 20       1
1    20-24       2
2    25-29       3
3    30-34       4
4    35-39       5
5    40-50       6
6    51-60       7
7      >60       8
8     Null       9

## Estandarización variable Salary

In [44]:
Salary = pd.read_json(r'.\Base_Datos_Encuestas\Salary.json')
Salary

             Desc_Salary  Id_Salary
0             $0-$20.000          1
1        $20.001-$40.000          2
2        $40.001-$60.000          3
3        $60.001-$80.000          4
4       $80.001-$100.000          5
5      $100.001-$120.000          6
6      $120.001-$140.000          7
7      $140.001-$160.000          8
8      $160.001-$180.000          9
9      $180.001-$200.000         10
10  Student / Unemployed         11
11        Rather not say         12
12                  Otro         13
13                  Null         14

## Estandarización variable Gender

In [40]:
Gender = pd.read_json(r'.\Base_Datos_Encuestas\Gender.json')
Gender

  Desc_Gender  Id_Gender
0      Female          1
1        Male          2
2        Null          3
3       Otros          4

## Estandarización variable Country

In [41]:
Country = pd.read_json(r'.\Base_Datos_Encuestas\Country.json')
Country

                     Des_Country  Id_Country
0                    Afghanistan           1
1                  Aland Islands           2
2                        Albania           3
3                        Algeria           4
4                 American Samoa           5
5                        Andorra           6
6                         Angola           7
7                       Anguilla           8
8                     Antarctica           9
9                 Antigua & Deps          10
10           Antigua and Barbuda          11
11                     Argentina          12
12                       Armenia          13
13                         Aruba          14
14                   Australasia          15
15                     Australia          16
16                       Austria          17
17                    Azerbaijan          18
18                       Bahamas          19
19                       Bahrain          20
20                    Bangladesh          21
21                      Barbados          22
22                       Belarus          23
23                       Belgium          24
24                        Belize          25
25                         Benin          26
26                       Bermuda          27
27                        Bhutan          28
28                       Bolivia          29
29            Bosnia-Herzegovina          30
..                           ...         ...
193                     Suriname         194
194                    Swaziland         195
195                       Sweden         196
196                  Switzerland         197
197                        Syria         198
198                       Taiwan         199
199                   Tajikistan         200
200                     Tanzania         201
201                     Thailand         202
202                         Togo         203
203          Trinidad and Tobago         204
204                      Tunisia         205
205                       Turkey         206
206                 Turkmenistan         207
207  U.S. Minor Outlying Islands         208
208                       Uganda         209
209                      Ukraine         210
210         United Arab Emirates         211
211               United Kingdom         212
212     United States of America         213
213                      Uruguay         214
214                   Uzbekistan         215
215                      Vanuatu         216
216                 Vatican City         217
217           Vatican City State         218
218                    Venezuela         219
219                      Vietnam         220
220                         Null         227
221                   Continente         228
222                        Other         229

[223 rows x 2 columns]

## Estandarización variable Experience

In [45]:
Experience = pd.read_json(r'.\Base_Datos_Encuestas\Experience.json')
Experience

    Desc_Experience  Id_Experience
0              Null              1
1  Less than 1 year              2
2       1 - 2 years              3
3       2 - 5 years              4
4      6 - 10 years              5
5         11+ years              6